{%extends 'reservation/reserv_main.html'%}

{%block title%} Бронь мест {%endblock%}

{%block content%}

    <div class = "features">
        <h2>Забронировать место: </h2>
        <a class="btn btn-outline-primary btn-sm" href = '{%url "main_with_map" %}' role="button">Вернуться на главную</a>
        <div class = 'select_mesto'> 
            {%for el in mesta_status%}
                {%if el.status == False%}
                    <a class = 'svobodno' href = '{%url "registr" el.id %}' role="button">{{el.mesto}}</a>
                {%else%}
                    <button class = 'zanyato'>{{el.mesto}}</button> 
                {%endif%}
            {%endfor%}
        </div>
    </div>


{%endblock%}