{% extends 'base.html' %}

{% block content %}
<div class="change-password-container">
    <h2>Смена пароля</h2>
    <form method="post" class="change-password-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
        </div>
        <div class="form-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="login-button">Сменить пароль</button>
    </form>
</div>
{% endblock %}
